@*@model IEnumerable<_04ViewModel.Models.tEmployee>*@
@model _04ViewModel.Models.ViewModels.VMEmp

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>公司員工資料管理</title>

    <link href="~/Content/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container">
        <h1 class="text-center well">公司員工資料管理</h1>
        <p>
            @Html.ActionLink("Create New", "Create")
        </p>
        
        
        <div class="row">
            <div class="col-xs-3">
                <p class="alert alert-success text-center">部門</p>
                <ul class="list-group text-center">
                    @foreach (var item in Model.department)
                    {
                        <li class="list-group-item">@Html.ActionLink(item.fDepName, "index", new { depId = item.fDepId })</li>
                        //@Html.ActionLink(顯示名稱,Action名稱,參數)
                    }
                </ul>
            </div>
            <div class="col-xs-9">
                <p class="alert alert-info text-center">員工資料</p>
                @if (Model.employee.Count == 0) //部門資料的筆數=0
                {
                    <h2 class="text-danger text-center">該部門目前尚無員工資料</h2>
                }
                else
                {
                <table class="table">
                    <tr>
                        <td>工號</td>
                        <td>姓名</td>
                        <td>電話</td>
                        <td>刪除</td>
                    </tr>
                    @foreach (var item in Model.employee)
                    {
                        <tr>
                            <td>@item.fEmpId</td>
                            <td>@item.fName</td>
                            <td>@item.fPhone</td>
                            <td><a href="#" class="btn btn-danger btn-sm">刪除</a></td>
                        </tr>
                    }
                </table>
                }
            </div>
        </div>        
    </div>    
</body>
</html>
