@model IEnumerable<_03Model.Models.tStudent>

@{
    ViewBag.Title = "學生資料管理";
}

<h2>學生資料管理</h2>

<p>
    @Html.ActionLink("新增學生資料", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.fStuId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fEmail)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fScore)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.fStuId)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.fName)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.fEmail)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.fScore)
    </td>
    <td>
        @*@Html.ActionLink("Edit", "Edit", new { id = item.fStuId }) |
        @Html.ActionLink("Details", "Details", new { id = item.fStuId }) |*@
        @Html.ActionLink("退學", "Delete", new { id = item.fStuId }, new { @class = "btn btn-danger", onclick = "return confirm('您確定要退學嗎')" })
        @*Html.ActionLink：只要是HTML就是寫在第4個*@

        <a href="/Default/Delete/@item.fStuId" class="btn btn-danger" onclick="return confirm('您確定要退學嗎')">退學</a>
        @*先執行onclick再執行超連結*@


        @*要為程式所有的例外狀況做處理*@
    </td>
</tr>
}

</table>
