@model _00Northwind.Models.員工

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>員工</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.姓名)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.姓名)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.名)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.名)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.職稱)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.職稱)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.稱呼)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.稱呼)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.出生日期)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.出生日期)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.雇用日期)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.雇用日期)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.地址)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.地址)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.城市)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.城市)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.行政區)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.行政區)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.區域號碼)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.區域號碼)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.國家地區)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.國家地區)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.電話號碼)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.電話號碼)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.內部分機號碼)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.內部分機號碼)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.相片)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.相片)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.附註)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.附註)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.主管)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.主管)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.員工編號 }) |
    @Html.ActionLink("Back to List", "Index")
</p>
